.app {
  position: relative;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 70px 65px 90px;
  // height: 40vh;
  // min-height: 1000px;
  background-color: $white;
  width: 1000px;
  // border: 2px solid black;
  font-family: "Sen", sans-serif;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $black;
  }

  &::before {
    bottom: -15px;
    left: 15px;
    height: 15px;
    width: 100%;
  }

  &::after {
    right: -15px;
    top: 15px;
    height: 100%;
    width: 15px;
  }
}
