.app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  // min-height: 1000px;

  width: 1000px;
  border: 2px solid black;
  font-family: "Sen", sans-serif;
}
