@import url("https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background: #f1f1f1;
$green: #bdff70;
$neonGreen: #34ffc2;
$white: #fff;
$black: #000;
$grey: #979797;

html {
  font-family: "Sen", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 1024px;
  min-height: 1000px;
  background-color: $background;
}

button,
input {
  outline: none;
}
